.profileinfo img{
    width:150px;

}
.coverPhotoContainer img{
    height: 250px;
}

.nav-pills{
  width: 450px;
  margin-top: 100px;
  height: auto;

}
.nav-item{
  width: 50%;
  margin-bottom: 40px;

}
.nav-pills .nav-link{
  font-weight: bold;
  text-align: center;
  background: #fff;
  color: #5D1FEB;
  border-radius: 30px;
  border: 1px solid #5D1FEB;


}
.nav-pills .nav-link.active{
  background: #5D1FEB;
  color: #fff;

}
.nav-item a {
    color: rgba(17,17,17,0.6);
}

.channelContent .section .values {
    color: rgba(17,17,17,0.6);
    display: flex;
    flex-direction: column;
    font-weight: 500;
}